<div class="single-transaction">
    <div class="group-icon">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg" class="profile-img"/>
    </div>
    <div class="transaction-detail">
        <h3>  <%= transaction.name%></h3>
        <span>  <%= transaction.created_at%> </span>
    </div>
    <div class="transaction-amount">
            <%= transaction.amount%>
    </div>
</div>