<div class="main-container">

    <%= render "layouts/left" %>
    <div class='right-container'>
        <div class="internal-header"> 
            <h2>External Transactions</h2>
        </div>
        <div class="total-credit-header"> 
            <h2>Total Logged hours </h2>
            <span> <%= seconds_to_hms(calculate_total_transactions_duration(@transactions)) %> hr<span>
        </div>
        <div class="transactios-cotainer">
            <%
                if @transactions.empty? %>
                <h2> No Transactions Found </h2>             
             <% 
                else
                    @transactions.each do |transaction|
                    concat render "transaction", transaction: transaction             
                    end
                end                
            %>
            <div class="new-transaction-div">
              <%= link_to  "New Transaction", transaction_new_path %>  
            </div>
        </div>
    </div>
</div>