<div class="container">

    <%= render "layouts/left" %>
    <div class='right-container'>
        <div class="internal-header"> 
            <h2>External Transactions</h2>
        </div>
        <div class="total-credit-header"> 
            <h2>Total Logged hours </h2>
            <span> 45:12 hr<span>
        </div>
        <div class="transactios-cotainer">
            <div class="single-transaction">
                <div class="group-icon">
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg" class="profile-img"/>
                </div>
                <div class="transaction-detail">
                    <h3> Log 2 ours in project</h3>
                    <span> 14 April 2020 </span>
                </div>
                <div class="transaction-amount">
                    02:15 
                </div>
            </div>
            <div class="new-transaction-div">
              <button type="button" class="btn btn-success">New Transaction</button>

            </div>
        </div>
    </div>
</div>