<div class="main-container">

    <%= render "layouts/left" %>
    <div class='right-container'>
        <div class="internal-header"> 
            <h2>New Transaction</h2>
        </div>
        <div class="transactios-cotainer">
            <div class="single-transaction">
               <form class="new-transaction-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Transaction Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Transaction Name">
                    </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Transaction Group</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Transaction Group">
                    </div>
                       <div class="form-group">
                        <label for="exampleInputEmail1">Transaction Time</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Transaction Time">
                    </div>
                    <div class="new-transaction-div">
                        <button type="button" class="btn btn-success">Save Transaction</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>