<div class="main-container">

    <%= render "layouts/left" %>
    <div class='right-container'>
        <div class="internal-header"> 
            <h2>All groups</h2>
        </div>
        <div class="groups-cotainer">
            <%
                if @groups.empty? %>
                    <h2> No Groups Found </h2>
                <%
                else 
                    @groups.each do |group|
                    %>
                        <div class="single-group">
                            <div class="group-icon">
                                <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg" class="profile-img"/>
                            </div>
                            <div class="group-detail">
                                <h3> <%=  group.name %></h3>
                                <span> <%=  group.created_at %> </span>
                            </div>
                        </div>
                    <%
                    end
                end 
            %>

            <div class="new-group-div">
              <%= link_to  "New roup", group_new_path %>  
            </div>
        </div>
    </div>
</div>