// Place all the styles related to the Transaction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-transaction-div {
  background-color: #60b524;
  text-align: center;

  a {
    border-width: 0.5vh;
    width: 80%;
    height: 12vh;
    margin: 3vh;
    border-color: white;
    background-color: #60b524;
    border: solid;
    color: #e1f0da;
    font-size: x-large;
    font-weight: bolder;
  }
}

.new-transaction-form {
  width: 100%;
}
